<template>
  <div class="select-file">
    <div class="select-file__header">
      <span>{{ $t('file.choose') }}</span>
      <SelectSort />
    </div>
    <div class="select-file__content">
      <ButtonBack />
      <div class="select-file__folder">
        <Icon name="folder" class="select-file__icon" />
        <span class="select-file__text">front locking handle</span>
      </div>
      <div class="select-file__list">
        <div class="select-file__item" @click="selectedValue = 1" :class="{active: selectedValue == 1}">
          <span class="select-file__text">front locking handle_01.gcode </span>
          <span class="select-file__text">16.06.23</span>
        </div>
        <div class="select-file__item" @click="selectedValue = 2" :class="{active: selectedValue == 2}">
          <span class="select-file__text" >front locking handle_02.stl </span>
          <span class="select-file__text">28.06.23</span>
        </div>
      </div>
    </div>
    <div class="select-file__footer">
      <ButtonMain class="secondary">
        {{ $t('buttons.cancel') }}
      </ButtonMain>
      <ButtonMain @click="selectValue">
        {{ $t('buttons.choose') }}
      </ButtonMain>
    </div>
  </div>
</template>

<script setup>
const emit = defineEmits(["update:modelValue"]);

const selectedValue = ref(1)

const selectValue = () => {  
  emit("update:modelValue", selectedValue.value);
}
</script>

<style lang="scss" scoped>
.select-file {
  $this: &;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>span {
      color: var(--bg-5);
      font-size: 24px;
      font-weight: bold;
    }
  }

  &__content {
    background-color: var(--bg-2);
    height: 344px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 18px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
  }

  &__folder {
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__icon {
    width: 30px;
    height: 27px;
  }

  &__text {
    font-weight: bold;
    font-size: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px 24px 60px;
    border-top: 1px solid var(--bg-1);
    cursor: pointer;

    &:nth-last-child(1) {
      border-bottom: 1px solid var(--bg-1);
    }

    &.active {
      #{$this}__text {
        color: var(--main);
      }
    }

  }
}
</style>