<template>
  <div class="select-sort">
    <div class="select-sort__choosed" @click="opened = true">
      <span class="select-sort__text">{{ $t('file.sort') }}:</span>
      <span class="select-sort__value active">{{ $t('file.name') }}</span>
      <Icon class="select-sort__icon" name="arrow-down-3" />
    </div>
    <!-- <div class="select-sort__list" :class="{opened: opened}">
      <div v-for="(item, index) in values" :key="index" class="select-sort__item" @click="selectValue(item)" >
        <span class="select-sort__value" :class="{active: item == selectedValue }">{{ item }}</span>
      </div>
    </div> -->

  </div>
</template>

<script setup>
const emit = defineEmits(["update:modelValue"]);
const selectedValue = ref('file name')
const opened = ref(false)

const values = reactive([0.01, 0.1, 1, 10])

const selectValue = (value) => {
  selectedValue.value = value
  opened.value = false
  emit("update:modelValue", value);
}


</script>

<style lang="scss" scoped>
.select-sort { 
  position: relative;

  &__choosed { 
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 11px;
  }

  &__text {
    color: var(--bg-5);
    font-size: 24px;
    font-weight: bold;
  }

  &__value {
    font-size: 24px;
    font-weight: bold;
    color: var(--text);
    &.active {
      color: var(--text);
    }
  }

  &__icon {
    color: var(--white);
    width: 17px;
    height: 11px;
  }

  &__list {
    background-color: var(--bg-15);
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(-20px);
    z-index: -1;

    &.opened {
      z-index: 1;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    cursor: pointer;
  }
}
</style>