<template>
  <button class="back">
    <Icon class="back__icon" name="arrow-back" />
    <span class="back__text">{{ $t('buttons.back') }}</span>
  </button>
</template>

<style lang="scss" scoped>
.back { 
  
  display: flex;
  align-items: center;  
  gap: 8px;
  flex-shrink: 0;

  &__icon {
    color: var(--bg-5);
    width: 12px;
    height: 20px;
  }

  &__text {
    font-size: 24px;
    font-weight: bold;
    color: var(--bg-5);
  }
}
</style>