<template>
  <button class="control">
    <Icon class="control__icon" name="gear" />
    <span class="control__text">{{ $t('buttons.control') }}</span>
  </button>
</template>

<style lang="scss" scoped>
.control {
  width: 140px;
  height: 88px;
  background-color: var(--bg-8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bg-3);
  border-radius: 3px;
  gap: 10px;
  flex-shrink: 0;

  &__icon {
    color: white;
    width: 33px;
    height: 33px;
  }

  &__text {
    font-size: 24px;
    font-weight: bold;
    color: var(--text);
  }
}
</style>