<template>
  <button class="button">
    <slot />
  </button>
</template>

<style lang="scss" scoped>
  .button {
    width: 255px;
    height: 65px;
    background-image: var(--gradient-secondary);
    font-size: 20px;
    font-weight: bold;
    color: var(--text);
    text-transform: uppercase;
    border-radius: 57px;

    &.secondary {
      background-image: unset;
      background-color: var(--bg-2);
      border: 1px solid var(--bg-3);
    }
  }
</style>