<template>
  <button class="start">
    <div class="start__wrapper">
      <Icon class="start__icon" v-if="printActive" name="pause" />
      <Icon class="start__icon" v-else name="play" />
    </div>
    <span class="start__text">{{ printActive ? $t('buttons.stop') : $t('buttons.start') }}</span>
  </button>
</template>

<script setup>
const props = defineProps({
  printActive: {
    type: Boolean,
  },
});
</script>

<style lang="scss" scoped>
.start {
  width: 155px;
  height: 88px;
  background-image: var(--gradient-secondary);
  display: flex;
  border-radius: 3px;
  flex-shrink: 0;
  align-items: center;

  &__wrapper {
    width: 44px;
    height: 44px;
    background-image: var(--gradient-secondary);
    border-radius: 100%;
    border: 1px solid var(--secondary);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
  }

  &__icon {
    color: white;
    width: 16px;
    height: 19px;
    margin-left: 2px;
  }

  &__text {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    color: var(--text);
    text-transform: uppercase;
  }
}
</style>