<template>
  <div class="head-card" :class="{ active: active }">
    <div class="head-card__enabled" v-if="headData.PHCurrents[index]">
      <div class="head-card__column">
        <div class="head-card__index">{{ index + 1 }}</div>
        <p class="head-card__code">{{ code }}</p>
      </div>
      <div class="head-card__percentage">
        100%
      </div>
    </div>
    <div class="head-card__disabled" v-else>
      <Icon class="head-card__icon" name="head" />
      <div class="head-card__line"></div>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  code: {
    type: String,
  },
  index: {
    type: Number,
  },
  headData: {
    type: Object,
  },
  active: {
    type: Boolean,
  },
});

const status = computed(() => {
  let status = ''
  if (Math.round(props.headData.PHCurrents[props.index][0]) < Math.round(props.headData.PHTargets[props.index])) {
    status = 'heatsUp'
  }
  if (Math.round(props.headData.PHCurrents[props.index][0]) > Math.round(props.headData.PHTargets[props.index])) {
    status = 'coolDown'
  }
  return status

})
</script>


<style lang="scss" scoped>
.head-card {
  $this: &;  
  width: 100%;
  height: 182px;
  border: 1px solid var(--bg-4);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.active {
    #{$this}__enabled {
      background-color: var(--bg-9);
    }

    #{$this}__index {
      background-color: var(--bg-12);
      color: var(--bg-11);
    }

    #{$this}__code {
      color: var(--bg-11);
    }

    #{$this}__temperatures {
      &>span {
        color: var(--bg-11);
      }
    }
  }

  &__percentage {
    width: 100%;
    height: 70px;
    background-color: var(--white);
    color: var(--bg-0);
    font-size: 33px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__column {
    padding: 10px 15px;
  }



  &__enabled {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    // padding: 10px 15px;
    background-color: var(--bg-8);
  }

  &__index {
    width: 30px;
    height: 30px;
    background-color: var(--bg-0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 20px;
    font-weight: bold;
    color: var(--bg-10);
  }

  &__code {
    font-size: 50px;
    color: var(--bg-10);
  }

  &__arrow {
    width: 12px;
    height: 16px;
    color: var(--red);

    &.up {
      transform: rotate(180deg);
    }
  }

  &__icon {
    color: var(--bg-4);
    width: 87px;
    height: 78px;
  }

  &__disabled {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  &__line {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--bg-4);
    left: 15px;
    bottom: 30px;
  }

  &__temperatures {
    padding-top: 4px;
    position: relative;

    &>span {
      font-weight: bold;
      font-size: 32px;

      &.active {
        color: var(--red) !important;
      }
    }
  }
}
</style>
