<template>
  <div class="header">
    <div class="header__sider">
      <div class="header__hide" :class="{ collapsed: collapsed }" @click="togglePanel">
        <Icon class="header__arrows" :class="{ reverse: !collapsed }" name="arrows" />
        <span :class="{ visible: !collapsed }">{{ $t('header.title') }}</span>
      </div>
      <img src="/logo.svg" alt="">
    </div>
    <div class="header__info">
      <div class="header__item">
        <Icon class="header__aura" name="aura" />
        <span>aura</span>
      </div>
      <div class="header__item">
        <Icon class="header__wifi" name="wi-fi" />
        <span>wi-fi</span>
      </div>
      <div class="header__item">
        <svg @click="$colorMode.preference = 'light'" v-if="$colorMode.preference == 'dark'" width="37" height="37" viewBox="0 0 37 37" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <ellipse cx="18.4199" cy="18.7188" rx="18.1953" ry="18.1953" transform="rotate(-180 18.4199 18.7188)"
            fill="#272727" />
          <g filter="url(#filter0_d_465_15504)">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10.5547 26.3023C12.3344 27.8694 14.6702 28.8199 17.2279 28.8199C22.8073 28.8199 27.3302 24.2969 27.3302 18.7176C27.3302 13.1382 22.8073 8.61523 17.2279 8.61523C16.3858 8.61523 15.5678 8.71826 14.7858 8.9124C18.6156 9.92595 21.4387 13.4151 21.4387 17.5637C21.4387 22.5058 17.4323 26.5121 12.4902 26.5121C11.8256 26.5121 11.178 26.4397 10.5547 26.3023Z"
              fill="url(#paint0_linear_465_15504)" />
          </g>
          <defs>
            <filter id="filter0_d_465_15504" x="2.55469" y="0.615234" width="32.7754" height="36.2051"
              filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset />
              <feGaussianBlur stdDeviation="4" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0.937255 0 0 0 0 0.764706 0 0 0 0 0.32549 0 0 0 0.6 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_465_15504" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_465_15504" result="shape" />
            </filter>
            <linearGradient id="paint0_linear_465_15504" x1="14.2114" y1="18.7178" x2="25.6552" y2="8.61565"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#FFE7AB" />
              <stop offset="1" stop-color="#FFF5DA" />
            </linearGradient>
          </defs>
        </svg>
        <svg @click="$colorMode.preference = 'dark'" v-else width="38" height="37" viewBox="0 0 38 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <ellipse cx="18.9663" cy="18.7188" rx="18.1953" ry="18.1953" transform="rotate(-180 18.9663 18.7188)"
            fill="#272727" />
          <g filter="url(#filter0_d_465_16050)">
            <ellipse cx="18.9665" cy="18.718" rx="10.1023" ry="10.1023" transform="rotate(-180 18.9665 18.718)"
              fill="url(#paint0_linear_465_16050)" />
          </g>
          <defs>
            <filter id="filter0_d_465_16050" x="0.864258" y="0.615234" width="36.2046" height="36.2051"
              filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset />
              <feGaussianBlur stdDeviation="4" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0.937255 0 0 0 0 0.764706 0 0 0 0 0.32549 0 0 0 0.6 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_465_16050" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_465_16050" result="shape" />
            </filter>
            <linearGradient id="paint0_linear_465_16050" x1="21.983" y1="18.7182" x2="10.5392" y2="28.8203"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#F39219" />
              <stop offset="1" stop-color="#E1C36E" />
            </linearGradient>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</template>

<script setup>
const { $event } = useNuxtApp()
const collapsed = ref(false);

const togglePanel = () => {
  collapsed.value = !collapsed.value;
  $event('sidebarToggle')
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-0);
  width: 100%;
  height: 44px;
  padding: 0 32px 0 8px;

  &__sider {
    display: flex;
    align-items: center;
  }

  &__hide {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    width: 165px;
    transition: width 0.3s ease;
    position: relative;

    &.collapsed {
      width: 40px;
    }

    &>span {
      font-weight: bold;
      opacity: 0;
      left: 26px;
      position: absolute;
      transition: opacity 0.3s ease;
      white-space: nowrap;

      &.visible {
        opacity: 1;
      }
    }
  }

  &__arrows {
    width: 24px;
    height: 20px;
    color: white;
    transition: transform 0.3s ease;

    &.reverse {
      transform: rotate(-180deg);
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__aura {
    width: 23px;
    height: 21px;
    color: var(--green);
  }

  &__wifi {
    width: 27px;
    height: 20px;
    color: var(--green);
  }

  &__light {
    width: 37px;
    height: 37px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &>span {
      font-weight: bold;
      color: var(--green);
    }
  }
}</style>