<template>
  <svg class="icon">
    <use :href="`/sprite.svg#${name}`" />
  </svg>
</template>

<script setup>
const props = defineProps({
  name: {
    type: String,
  },
});
</script>
<style lang="scss" scoped>
.icon {
  // display: block;
  // width: 100%;
  // height: 100%;
}
</style>
