<template>
  <div class="position-card">
    <div class="position-card__input">
      <button class="position-card__button minus" @click="minus">
        <Icon class="position-card__icon" :class="{ vertical: direction == 'z' }" name="arrow-button" />
      </button>
      <div>
        <span class="position-card__direction">{{ direction }}</span>
        <span class="position-card__value">{{ cardValue }}</span>
      </div>
      <button class="position-card__button plus" @click="plus">
        <Icon class="position-card__icon reverse" :class="{ vertical: direction == 'z' }" name="arrow-button" />
      </button>
    </div>
    <div class="position-card__bottom">
      <Icon class="position-card__icon-home" name="home" />
      <span>{{$t('buttons.home')}} <span style="text-transform: uppercase;">{{ direction }}</span> </span>
    </div>

  </div>
</template>

<script setup>
const props = defineProps({
  direction: {
    type: String,
  },
  step: {
    type: Number,
  },
});

const cardValue = ref(120.45)

const minus = () => {  
  cardValue.value = parseFloat((cardValue.value - props.step).toFixed(10));
}
const plus = () => {
  cardValue.value = parseFloat((cardValue.value + props.step).toFixed(10));
}
</script>

<style lang="scss" scoped>
.position-card {
  &__input {
    background-color: white;
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    width: 57px;
    height: 66px;
    background-color: var(--bg-8);
    border: 1px solid var(--bg-3);
    border-radius: 3px;
    position: absolute;
    top: 2px;

    &.minus {
      left: 2px;
    }

    &.plus {
      right: 2px;
    }
  }

  &__icon {
    width: 27px;
    height: 20px;
    color: var(--bg-6);

    &.vertical {
      transform: rotate(-90deg)
    }

    &.reverse {
      transform: rotateY(180deg);

      &.vertical {
        transform: rotate(90deg)
      }
    }


  }

  &__direction {
    color: var(--main);
    font-size: 30px;
    font-weight: bold;
    margin-right: 8px;
  }

  &__value {
    color: var(--bg-2);
    font-size: 33px;
    font-weight: bold;
  }

  &__icon-home {
    width: 17px;
    height: 22px;
    color: var(--bg-13);
  }

  &__bottom {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 65px;
    background-color: var(--bg-2);
    border-radius: 3px;
    border: 1px solid var(--bg-3);
    &>span {
      font-size: 16px;
      font-weight: bold;
      line-height: 0.6;
    }
  }
}
</style>