<template>
  <div class="progress-bar">
    <div class="progress-bar__item" :class="{ active: printActive }"></div>
    <div class="progress-bar__left" v-if="printActive">
      <span class="progress-bar__percent">{{ progress }}%</span>
      <span class="progress-bar__text">{{$t('progress.elapsed')}} 0:0{{ pastTime }}</span>
    </div>
    <div class="progress-bar__right" v-if="printActive">
      <span class="progress-bar__text">{{$t('progress.left')}} 0:0{{ leftTime }}</span>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  printActive: {
    type: Boolean,
  },
});

const progress = ref(0)
const pastTime = ref(0)
const leftTime = ref(5)

watch(() => props.printActive, async (newData) => {
  progress.value = 0
  pastTime.value = 0
  leftTime.value = 5
  const myTimer = setInterval(() => {
    if (progress.value < 100) {
      progress.value = progress.value + 2
      if (progress.value % 20 === 0) {
        pastTime.value = pastTime.value + 1
        leftTime.value = leftTime.value - 1
      }
    }
  }, 100);
  myTimer()
  if (progress.value == 100) {
    clearInterval(myTimer);
  }
});

</script>

<style lang="scss" scoped>
.progress-bar {
  display: flex;
  background-color: var(--bg-14);
  width: 100%;
  height: 88px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;

  &__item {
    height: 100%;
    background-image: var(--gradient-main);
    width: 0;

    &.active {
      animation: load 5s linear alternate 1;
    }
  }

  &__percent {
    font-size: 40px;
    font-weight: bold;
    color: var(--bg-1);
  }

  &__text {
    font-size: 24px;
    font-weight: bold;
    color: var(--bg-0);
  }

  &__left {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 12px;
    bottom: 8px;
  }

  &__right {
    position: absolute;
    right: 12px;
    bottom: 8px;
  }

  @keyframes load {
    100% {
      width: 100%;
    }
  }
}
</style>