<template>
  <div class="sidebar" :class="{ collapsed: collapsed }">
    <div class="sidebar__list">
      <nuxt-link :to="localePath('/')" class="sidebar__item"
        :class="{ 'active': activeRoute == '/' || activeRoute == '/zh-Cn' }">
        <div class="sidebar__icon-container">
          <Icon class="sidebar__icon small" name="monitoring" />
        </div>
        <span :class="{ 'hidden': collapsed }">{{ $t('sidebar.monitoring') }}</span>
      </nuxt-link>
      <nuxt-link :to="localePath('/print')" class="sidebar__item" :class="{ 'active': activeRoute.includes('/print') }">
        <Icon class="sidebar__icon" name="print" />
        <span :class="{ 'hidden': collapsed }">{{ $t('sidebar.print') }}</span>
      </nuxt-link>
      <nuxt-link :to="localePath('/calibration')" class="sidebar__item"
        :class="{ 'active': activeRoute.includes('/calibration') }">
        <Icon class="sidebar__icon" name="calibration" />
        <span :class="{ 'hidden': collapsed }">{{ $t('sidebar.calibration') }}</span>
      </nuxt-link>
      <nuxt-link :to="localePath('/material')" class="sidebar__item"
        :class="{ 'active': activeRoute.includes('/material') }">
        <Icon class="sidebar__icon" name="material" />
        <span :class="{ 'hidden': collapsed }">{{ $t('sidebar.material') }}</span>
      </nuxt-link>
      <nuxt-link :to="localePath('/movements')" class="sidebar__item"
        :class="{ 'active': activeRoute.includes('/movements') }">
        <Icon class="sidebar__icon" name="movements" />
        <span :class="{ 'hidden': collapsed }">{{ $t('sidebar.movements') }}</span>
      </nuxt-link>
      <nuxt-link :to="localePath('/head-temp')" class="sidebar__item"
        :class="{ 'active': activeRoute.includes('/head-temp') }">
        <Icon class="sidebar__icon" name="headtemp" />
        <span :class="{ 'hidden': collapsed }">{{ $t('sidebar.headtemp') }}</span>
      </nuxt-link>
    </div>
    <div class="sidebar__bottom">
      <nuxt-link :to="localePath('/connection')" class="sidebar__item-bottom"
        :class="{ 'active': activeRoute.includes('/connection') }">
        <Icon class="sidebar__icon" name="connection" />
        <span :class="{ 'hidden': collapsed }">{{ $t('sidebar.connection') }}</span>
      </nuxt-link>
      <nuxt-link :to="localePath('/settings')" class="sidebar__item-bottom"
        :class="{ 'active': activeRoute.includes('/settings') }">
        <Icon class="sidebar__icon" name="settings" />
        <span :class="{ 'hidden': collapsed }">{{ $t('sidebar.settings') }}</span>
      </nuxt-link>
      <nuxt-link :to="localePath('/about')" class="sidebar__item-bottom"
        :class="{ 'active': activeRoute.includes('/about') }">
        <Icon class="sidebar__icon" name="about" />
        <span :class="{ 'hidden': collapsed }">{{ $t('sidebar.about') }}</span>
      </nuxt-link>
    </div>
  </div>
</template>

<script setup>
const { $listen } = useNuxtApp()
const localePath = useLocalePath();
const route = useRoute()
const collapsed = ref(false)

const activeRoute = computed(() => {
  return route.path
})

$listen('sidebarToggle', () => {
  collapsed.value = !collapsed.value
})
</script>

<style lang="scss" scoped>
.sidebar {
  $this: &;
  width: 165px;
  transition: width 0.3s ease;

  &.collapsed {
    width: 46px;


  }

  &__bottom {
    display: flex;
    height: max-content;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--bg-2);
    margin-top: 2px;
    padding: 8px;
    padding-top: 32px;
    gap: 8px;
  }

  &__item-bottom {
    display: flex;
    align-items: center;
    height: 32px;

    &>span {
      color: var(--bg-5);
      opacity: 1;
      left: 50px;
      transition: opacity 0.3s ease;
      position: absolute;

      &.hidden {
        opacity: 0;
        left: 50px;
      }
    }

    &.active {

      &>span {
        color: var(--main);
      }

      #{$this}__icon {
        color: var(--main);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2px;

  }

  &__item {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: var(--bg-2);
    padding: 8px;
    border-left: 1px solid var(--bg-3);
    border-right: 1px solid var(--bg-3);
    position: relative;

    &:nth-child(1) {
      border-top: 1px solid var(--bg-3);
      border-radius: 4px 4px 0 0;
    }


    &>span {
      color: var(--bg-5);
      opacity: 1;
      left: 50px;
      transition: opacity 0.3s ease;
      position: absolute;
      white-space: nowrap;

      &.hidden {
        opacity: 0;
        left: 50px;
      }
    }

    &.active {
      background-color: var(--main);
      border-radius: 4px;
      border: 1px solid var(--main-border);
      transform: scaleY(1.05);

      &>span {
        color: var(--text);
      }

      #{$this}__icon {
        color: var(--text);
      }
    }
  }

  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;    
  }

 

  &__icon {
    width: 26px;
    height: 26px;
    box-sizing: unset !important;
    color: var(--bg-5);

    &.small {
      width: 18px;
      height: 18px;
    }
  }
}
</style>