<template>
  <div class="step">
    <div class="step__choosed" @click="opened = true">
      <span class="step__text">{{$t('step.step')}}</span>
      <span class="step__value active">{{ selectedValue }}</span>
      <Icon class="step__icon" name="arrow-down-2" />
    </div>
    <div class="step__list" :class="{opened: opened}">
      <div v-for="(item, index) in values" :key="index" class="step__item" @click="selectValue(item)" >
        <span class="step__value" :class="{active: item == selectedValue }">{{ item }}</span>
      </div>
    </div>

  </div>
</template>

<script setup>
const emit = defineEmits(["update:modelValue"]);
const selectedValue = ref(1)
const opened = ref(false)

const values = reactive([0.01, 0.1, 1, 10])

const selectValue = (value) => {
  selectedValue.value = value
  opened.value = false
  emit("update:modelValue", value);
}


</script>

<style lang="scss" scoped>
.step {
  width: 300px;
  position: relative;
  &__choosed {    
    height: 65px;
    background-color: var(--bg-15);
    border: 1px solid var(--bg-7);
    border-radius: 3px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__text {
    color: var(--bg-4);
    font-size: 20px;
    font-weight: bold;
  }

  &__value {
    font-size: 35px;
    font-weight: bold;
    color: var(--bg-4);
    &.active {
      color: var(--text);
    }
  }

  &__icon {
    color: var(--white);
    width: 25px;
    height: 15px;
  }

  &__list {
    background-color: var(--bg-15);
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(-20px);
    z-index: -1;

    &.opened {
      z-index: 1;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    cursor: pointer;
  }
}
</style>