<template>
  <div class="header">
    <p>{{ $t('home.title') }}</p>
    <h1 class="header__text">FFFFFFFFFFFFFFFFFFFFFF</h1>
    <h1>Color mode: {{ $colorMode.value }}</h1>
    <select v-model="$colorMode.preference">
      <option value="system">System</option>
      <option value="light">Light</option>
      <option value="dark">Dark</option>
      <option value="sepia">Sepia</option>
    </select>
  </div>
</template>

<script setup>
const colorMode = useColorMode()

const changeMode = () => {
  console.log(colorMode);
  colorMode.value = 'light'
}
</script>

<style lang="scss">

// body {
//   background-color: #fff;
//   color: rgba(0,0,0,0.8);
// }
// .dark-mode body {
//   background-color: #091a28;
//   color: #ebf4f1;
// }
// .sepia-mode body {
//   background-color: #f1e7d0;
//   color: #433422;
// }


</style>