
@font-face {
  font-family: "Px-Grotesk";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Px-Grotesk-Regular.woff2") format("woff2");  
}
@font-face {
  font-family: "Px-Grotesk";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/Px-Grotesk-Bold.woff2") format("woff2");  
}

@font-face {
  font-family: "NotoSansTC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/noto-sans-tc-regular.woff2") format("woff2");  
}

@font-face {
  font-family: "NotoSansTC";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/noto-sans-tc-bold.woff2") format("woff2");  
}
