@import url("./reset.scss");
@import url("./fonts.scss");
@import url("./variables.scss");

body {
  font-family: "Px-Grotesk", sans-serif;
  color: var(--text);
  font-size: 16px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(88, 58, 58);
  &.chinies {    
    font-family: "NotoSansTC", sans-serif !important;
  }
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}
