:root {
  // light theme
  --main: #ff3d00;
  --main-border: #ff7043;
  --text: #ffffff;
  --bg-0: #000000;
  --bg-1: #ffffff;
  --bg-2: #272727;
  --bg-3: #353535;
  --bg-4: #838383;
  --bg-5: #b6b6b6;
  --bg-6: #eeeeee;
  --bg-7: #2d2d2d;
  --bg-8: #1c1d1f;
  --bg-9: #e4e4e4;
  --bg-10: #e7e9e8;
  --bg-11: #0c0c0c;
  --bg-12: #ffffff;
  --bg-13: #d9d9d9;
  --bg-14: #f2f2f2;
  --bg-15: #252525;
  --green: #35bc61;
  --red: #ff3d00;
  --gradient-main: linear-gradient(90deg, #ff7a00, #ff3d00);
  --gradient-secondary: linear-gradient(90deg, #4f7383, #7ba6b4);
  

  // dark theme
  &.dark-mode {
    --main: #ff3d00;
    --main-border: #ff7043;
    --secondary: #7FA4B0;
    --text: #ffffff;
    --white: #ffffff;
    --bg-0: #000000;
    --bg-1: #0e0e0e;
    --bg-2: #272727;
    --bg-3: #353535;
    --bg-4: #838383;
    --bg-5: #b6b6b6;
    --bg-6: #eeeeee;
    --bg-7: #2d2d2d;
    --bg-8: #1c1d1f;
    --bg-9: #e4e4e4;
    --bg-10: #e7e9e8;
    --bg-11: #0c0c0c;
    --bg-12: #ffffff;
    --bg-13: #d9d9d9;
    --bg-14: #f2f2f2;
    --bg-15: #252525;
    --green: #35bc61;
    --red: #ff3d00;
    --gradient-main: linear-gradient(90deg, #ff7a00, #ff3d00);
    --gradient-secondary: linear-gradient(90deg, #4f7383, #7ba6b4);
  }
}
