<template>
  <div class="page">
    <header class="page__header">
      <Header />
    </header>
    <div class="page__flex">
      <Sidebar />
      <main class="page__main">
        <slot />
      </main>
    </div>

  </div>
</template>

<script setup>
import { usePrinterStore } from '@/stores/printer-info'
const printerStore = usePrinterStore()
const route = useRoute();



if (route.fullPath.includes('zh-Cn')) {
  document.body.classList.add('chinies');
}

const resp = {
    "AuraConnectStatus": false,
    "FeedRate": 100,
    "Humidity": 50,
    "Ip": "",
    "Job": {
        "Duration": "13:30:00",
        "Filename": "",
        "Id": "",
        "JobState": 0,
        "PausedTime": "",
        "PrintingTime": "00:00:00",
        "Progress": 0
    },
    "NetworkConnected": false,
    "PlasticFlow": 100,
    "PrinterStatus": 1,
    "Telemetry": {
        "BPCurrents": [
            59.7
        ],
        "BPTarget": 60,
        "CHCurrents": [
            37.78
        ],
        "CHTarget": 0,
        "CurrentLayer": 1,
        "CurrentTool": "0",
        "ExtruderPositions": [
            0,
            0,
            0
        ],
        "FanSpeeds": [
            80,
            100,
            0
        ],
        "PHCurrents": [
            [
                229.45
            ],
            [
                170.37
            ]
        ],
        "PHTargets": [
            230,
            170
        ],
        "PrintProgress": 0,
        "XPosition": 0,
        "YPosition": 0,
        "ZPosition": 0
    },
    "WifiModuleStatus": true,
    "WifiSSID": ""
}

printerStore.$state.printerInfo = resp;

// apiGet('GetStatus').then((response) => {
//   printerStore.$state.printerInfo = response.data.value.data;
// })

</script>

<style lang="scss" scoped>
.page {
  position: relative;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 1014px;
  height: 590px;
  background-color: var(--bg-1);
  // font-family: "NotoSansTC";

  &__flex {
    padding-top: 8px;
    display: flex;
    padding-left: 8px;
  }

  &__main {
    flex-grow: 1;
    position: relative;
    // padding-top: 64px;
    // padding-bottom: 64px;
    max-width: 1014px;
    max-height: 590px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  &__header {}

  &__sidebar {}


}
</style>