<template>
  <div class="main-page">    
    <div class="main-page__list">
      <HeadCard :headData="printerStatus.Telemetry" :index="0" code="CFC" :active="activeHead == 0" @click="activeHead = 0" />
      <HeadCard :headData="printerStatus.Telemetry" :index="1" code="CFC" :active="activeHead == 1" @click="activeHead = 1"/>
      <HeadCard :headData="printerStatus.Telemetry" :index="2" code="CFC" :active="activeHead == 2"/>
      <HeadCard :headData="printerStatus.Telemetry" :index="3" code="CFC" :active="activeHead == 3"/>
    </div>
    <div class="main-page__info">
      <div class="main-page__temperature">
        <div class="main-page__container">
          <!-- <Icon class="main-page__icon" name="temp" /> -->
          <img src="/temp.svg" alt="">
          <span class="main-page__name">{{ $t('monitoring.temperature') }}</span>
        </div>
        <div class="main-page__values">
          <span class="main-page__temp" :class="{active: status}">{{printerStatus.Telemetry.BPTarget}}°C</span>
          <span class="main-page__temp"> | </span>
          <span class="main-page__temp">{{printerStatus.Telemetry.BPCurrents[0]}}°C</span>          
          <!-- <Icon v-if="status" class="main-page__arrow" name="arrow-down" :class="{up: status == 'heatsUp'}" /> -->
        </div>
      </div>
      <div class="main-page__block">
        <div class="main-page__container">
          <!-- <Icon class="main-page__icon" name="humidity" /> -->
          <img src="/humidity.svg" alt="">
          <span class="main-page__name">{{ $t('monitoring.humidity') }}</span>
          <span class="main-page__value" style="margin-left: 16px;">{{ printerStatus.Humidity }}%</span>
        </div>
        <div class="main-page__divider"></div>
        <div class="main-page__container">
          <img src="/temp.svg" alt="">
          <span class="main-page__name">{{ $t('monitoring.chamber') }}</span>
          <span class="main-page__value" style="margin-left: 16px;">{{ printerStatus.Telemetry.CHCurrents[0] }}°C</span>
        </div>
        <div class="main-page__divider"></div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { usePrinterStore } from '@/stores/printer-info'
const printerStore = usePrinterStore()

const activeHead = ref(0)
const status = computed(() => {
  let status = ''  
  if (printerStatus.value.Telemetry.BPCurrents[0] < printerStatus.value.Telemetry.BPTarget) {
    status = 'heatsUp'
  }
  if (printerStatus.value.Telemetry.BPCurrents[0] > printerStatus.value.Telemetry.BPTarget) {
    status = 'coolDown'
  }
  return status
  
})

const printerStatus = computed(() => {
  return printerStore.$state.printerInfo
})
</script>

<style lang="scss" scoped>
.main-page {
  display: flex;
  // flex-direction: column;
  align-items: center;  
  justify-content: center;
  width: 100%;
  height: 100%;  
  gap: 22px;
  padding: 30px 27px 40px 35px;


  &__list {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;

    // &>div { 
    //   width: 240px;
    // }
  }

  &__info {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 320px;
    max-height: fit-content;
    height: 100%;
    // padding: 29px 0;
  }

  &__temperature {
    background-color: var(--bg-8);
    border: 1px solid var(--bg-3);
    padding: 20px 18px 13px;
    border-radius: 4px;
    width: 100%;
    height: 156px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
  }

  &__divider {
    margin: 20px 0;
    width: 100%;
    height: 1px;
    background-color: var(--bg-7);
  }

  &__icon {
    // width: 15px;
    // height: 19px;
    // color: var(--bg-5);
  }

  &__name {
    font-size: 18px;
    color: var(--bg-5);
  }

  &__values {
    margin-top: 8px;
  }
  &__temp {
    font-weight: bold;
    font-size: 35px;
    &.active {
        color: var(--red);
      }
  }
  &__value {
    font-weight: bold;
    font-size: 22px;
    &.active {
        color: var(--red);
      }
  }

  &__arrow {
    margin-left: 8px;
    width: 12px;
    height: 16px;
    color: var(--red);
    &.up {
      transform: rotate(180deg);
    }
  }
}
</style>