<template>
  <div class="movements-test">
    <div class="movements-test__header">
      <ButtonBack class="movements-test__back" @click="navigateTo('/')" />
      <div class="movements-test__name">
        <span class="movements-test__title">{{ $t('movements.moving') }}</span>
        <span class="movements-test__code">CFC</span>
        <div class="movements-test__index">1</div>
      </div>
    </div>
    <div class="movements-test__steps">
      <Step v-model="step" />
    </div>
    <div class="movements-test__divider"></div>
    <div class="movements-test__grid">
      <PositionCard direction="x" :step="step" />
      <PositionCard direction="y" :step="step" />
      <PositionCard direction="z" :step="step" />
    </div>
  </div>
</template>

<script setup>
const step = ref(1);
</script>

<style lang="scss" scoped>
.movements-test {
  display: flex;
  flex-direction: column;

  &__header {
    padding: 23px 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__code {
    font-size: 60px;
  }

  &__back {
    position: absolute;
    left: 20px;
  }

  &__index {
    width: 30px;
    height: 30px;
    background-color: var(--bg-12);
    color: var(--bg-11);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 20px;
    font-weight: bold;
  }

  &__steps {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__divider {
    width: calc(100% - 16px);
    height: 1px;
    background-color: var(--bg-3);
    margin: 50px 8px;
  }

  &__grid {
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}
</style>