<template>
  <div class="print-settings">
    <div class="print-settings__header">
      <ButtonBack @click="navigateTo('/print')" />
      <div class="print-settings__title">
        <div class="print-settings__wrapper">
          <Icon class="print-settings__icon-gear" name="gear-2" />
        </div>
        <span>{{ $t('print-settings.tune') }}</span>
      </div>
      <div style="width: 75px;"></div>
    </div>
    <div class="print-settings__options">
      <div class="print-settings__option">{{ $t('print-settings.feedrate') }} <br /> 100%</div>
      <div class="print-settings__option active">{{ $t('print-settings.flow') }}</div>
      <div class="print-settings__option">{{ $t('print-settings.hotend') }}</div>
      <div class="print-settings__option">{{ $t('print-settings.surface') }}</div>
      <div class="print-settings__option">{{ $t('print-settings.speed') }}</div>
    </div>
    <div class="print-settings__divider"></div>
    <div class="print-settings__heads">
      <HeadCardPercent v-for="(item, index) in 4" :key="index" :headData="printerStatus.Telemetry" :index="index"
        code="CFC" :active="activeHead == index" @click="activeHead = index" />
    </div>
    <div class="print-settings__buttons">
      <ButtonMain class="secondary">
        {{ $t('buttons.cancel') }}
      </ButtonMain>
      <ButtonMain>
        {{ $t('buttons.set') }}
      </ButtonMain>
    </div>
  </div>
</template>

<script setup>
import { usePrinterStore } from '@/stores/printer-info'
const printerStore = usePrinterStore()

const activeHead = ref(0)
const printActive = ref(false)

const printerStatus = computed(() => {
  return printerStore.$state.printerInfo

})

</script>

<style lang="scss" scoped>
.print-settings {
  display: flex;
  flex-direction: column;

  &__header {
    padding: 23px 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 8px;

    &>span {
      font-weight: bold;
      font-size: 24px;
    }
  }

  &__wrapper {
    background-color: var(--main);
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon-gear {
    width: 26px;
    height: 26px;
  }

  &__options {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 60px;
    gap: 5px;

  }

  &__option {
    background-color: var(--bg-2);
    border-radius: 3px;
    border: 1px solid var(--bg-3);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

    &.active {
      border: 2px solid var(--main);
    }
  }

  &__divider {
    width: calc(100% - 16px);
    height: 1px;
    background-color: var(--bg-3);
    margin: 20px 8px;
  }

  &__heads {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 60px;
    gap: 5px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    padding: 28px 0 0;
  }
}
</style>