<template>
  <div class="print">
    <div class="print__selection" v-if="!selectedFile">
      <SelectFile v-model="selectedFile" />
    </div>
    <div v-else>
      <div class="print__container" v-if="selectedFile == 1">
        <div class="print__content">
          <div class="print__wrapper">
            <span>front locking handle.gcode </span>
            <img src="/test-img-1.png" alt="">
          </div>
          <div class="print__heads">
            <HeadCard class="small" v-for="(item, index) in 4" :key="index" :headData="printerStatus.Telemetry"
              :index="index" code="CFC" :active="activeHead == index" @click="activeHead = index" />
          </div>
        </div>
        <div class="print__progress">
          <ProgressBar :printActive="printActive" />
          <ButtonStart :printActive="printActive" @click="printActive = !printActive" />
          <nuxt-link :to="localePath('/print-settings')">
            <ButtonControl />
          </nuxt-link>
        </div>
        <div class="print__info">
          <div class="print__info-item">
            <img src="/humidity.svg" alt="">
            <span class="print__name">{{ $t('print.humidity') }}</span>
            <span class="print__value">{{ printerStatus.Humidity }}%</span>
          </div>
          <div class="print__info-item">
            <img src="/temp.svg" alt="">
            <span class="print__name">{{ $t('print.chamber') }}</span>
            <span class="print__value">{{ printerStatus.Telemetry.CHCurrents[0] }}°C</span>
          </div>
          <div class="print__info-item">
            <img src="/temp.svg" alt="">
            <span class="print__name">{{ $t('print.temperature') }}</span>
            <div>
              <span class="print__value" :class="{ active: status }">{{ printerStatus.Telemetry.BPTarget }}°C</span>
              <span class="print__value"> | </span>
              <span class="print__value">{{ printerStatus.Telemetry.BPCurrents[0] }}°C</span>
            </div>
          </div>
        </div>
      </div>
      <div class="print__container reversed" v-if="selectedFile == 2" :class="{ collapsed: !collapsed }">
        <span class="print__title-white">front locking handle_02.stl </span>
        <div class="print__heads in-line">
          <HeadCard :class="`${collapsed ? 'small' : 'smaller'}`" v-for="(item, index) in 4" :key="index"
            :headData="printerStatus.Telemetry" :index="index" code="CFC" :active="activeHead == index"
            @click="activeHead = index" />
        </div>
        <div class="print__info">
          <div class="print__info-item">
            <img src="/humidity.svg" alt="">
            <span class="print__name">{{ $t('print.humidity') }}</span>
            <span class="print__value">{{ printerStatus.Humidity }}%</span>
          </div>
          <div class="print__info-item">
            <img src="/temp.svg" alt="">
            <span class="print__name">{{ $t('print.chamber') }}</span>
            <span class="print__value">{{ printerStatus.Telemetry.CHCurrents[0] }}°C</span>
          </div>
          <div class="print__info-item">
            <img src="/temp.svg" alt="">
            <span class="print__name">{{ $t('print.temperature') }}</span>
            <div>
              <span class="print__value" :class="{ active: status }">{{ printerStatus.Telemetry.BPTarget }}°C</span>
              <span class="print__value"> | </span>
              <span class="print__value">{{ printerStatus.Telemetry.BPCurrents[0] }}°C</span>
            </div>
          </div>
        </div>
        <div class="print__progress">
          <ProgressBar :printActive="printActive" />
          <ButtonStart :printActive="printActive" @click="printActive = !printActive" />
          <nuxt-link :to="localePath('/print-settings')">
            <ButtonControl />
          </nuxt-link>

        </div>
      </div>
    </div>


  </div>
</template>

<script setup>
const localePath = useLocalePath();
const { $listen } = useNuxtApp()
import { usePrinterStore } from '@/stores/printer-info'
const printerStore = usePrinterStore()

const selectedFile = ref(null)
const activeHead = ref(0)
const printActive = ref(false)

const collapsed = ref(false)

const printerStatus = computed(() => {
  return printerStore.$state.printerInfo
})
$listen('sidebarToggle', () => {
  collapsed.value = !collapsed.value
})
</script>

<style lang="scss" scoped>
.print {
  $this: &;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 20px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &.reversed {
      padding: 10px 0 10px 60px;

      #{$this}__text {
        color: var(--main);
      }

      #{$this}__info {
        width: 100%;
        padding: 30px 15px;
        justify-content: center;
      }

      &.collapsed {
        padding: 10px 0 10px 0;

        #{$this}__info {

          padding: 30px 0;
        }
      }
    }
  }



  &__content {
    display: flex;
    gap: 8px;
    width: 100%;
    // align-items: stretch;
    justify-content: space-between;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 369px;
    background-color: var(--bg-12);
    border-radius: 4px;
    overflow: hidden;
    // height: 100%;

    &>span {
      position: absolute;
      color: var(--bg-0);
      top: 10px;
      left: 10px;
      font-weight: bold;
      font-size: 24px;
    }

    &>img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__heads {
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

    &.in-line {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__progress {
    display: flex;
    gap: 5px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__name {
    font-size: 20px;
    font-weight: bold;
    color: var(--bg-5);
  }

  &__value {
    font-size: 22px;
    font-weight: bold;
    color: var(--text);
  }

  &__title-white {
    padding: 4px 5px;
    border-radius: 3px;
    width: fit-content;
    background-color: var(--bg-0);
    font-weight: bold;
    font-size: 24px;
    color: var(--bg-5);
    margin-bottom: 32px;
  }
}
</style>