<template>
  <div class="settings">
    <div>
      <h2>Change language</h2>
      <select id="locale-select" v-model="$i18n.locale">
        <option value="en-US">English</option>
        <option value="zh-Cn">Chinese</option>
      </select>
    </div>
    <div>
      <h2>Change theme</h2>
      <select v-model="$colorMode.preference">
        <option value="system">System</option>
        <option value="light">Light</option>
        <option value="dark">Dark</option>
      </select>
    </div>

  </div>
</template>

<script setup>

</script>

<style lang="scss" scoped>
.settings {
  display: flex;
  gap: 16px;
  padding: 40px;
}
</style>